[Unit]
Description=%s.service

[Service]
Type=simple
ExecStart=%s
Restart=always
RestartSec=10
Environment=%s
KillMode=process

[Install]
WantedBy=multi-user.target
