.DS_Store
/_python_build
*/_build/
venv/*
*.pyc
__pycache__
*.swp
.idea/*
.gradle
.vscode

*.crt
*.csr
*.key
_output/local


cloud/cloudcore.log
cloud/cloudcore
cloud/admission
edge/edgecore
edgesite/edgesite
keadm/keadm
_output
_tmp
build/edge/tmp

coverage.out
go.work.sum
kubeedge.key
*.log

rootCA.key
kubeedge.crt
kubeedge.csr
rootCA.crt
rootCA.srl
verify_output.txt
edge/test/integration/config.json

