language: go

git:
  depth: false

os: linux

dist: focal

services:
  - docker

go:
  - 1.17

env:
  - HOME=/home/travis CONTAINER_RUN_OPTIONS=" "

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

before_install:
  - |
      if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md)|(\.png)|(\.pdf)|(\.html)|^(LICENSE)|^(docs)|^(OWNERS)|^(MAINTAINERS)'
      then
        echo "Only doc files were updated, skip running the CI."
        travis_terminate 0
      fi
      docker pull kubeedge/build-tools

install: skip

jobs:
  include:
    - stage: "Test on arm64"
      name: "build, smallbuild"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=vendor
      script:
        - make
        - make smallbuild
    - name: "unit test, integration test edge"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=mod
      script:
        - make test
    - name: "build docker images on arm64"
      arch: arm64
      script:
        - make image
    - name: "e2e test"
      arch: arm64-graviton2
      virt: vm
      group: edge
      before_script:
        - command -v ginkgo || go install github.com/onsi/ginkgo/ginkgo@latest
        - go install sigs.k8s.io/kind@v0.12.0
        - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.23.15/bin/linux/arm64/kubectl && sudo install kubectl /usr/local/bin/kubectl
      script:
        - make e2e
