language: go

git:
  depth: false

os: linux

dist: focal

services:
  - docker

go:
  - 1.14

env:
  - HOME=/home/travis

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

before_install:
  - |
      if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md)|(\.png)|(\.pdf)|(\.html)|^(LICENSE)|^(docs)|^(OWNERS)|^(MAINTAINERS)'
      then
        echo "Only doc files were updated, skip running the CI."
        travis_terminate 0
      fi

install: skip

jobs:
  include:
    - stage: "Test on arm64"
      name: "build, smallbuild"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=vendor
        - sudo apt-get install upx-ucl -y
      script:
        - make
        - make bluetoothdevice
        - make smallbuild
    - name: "unit test, integration test edge"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=mod
      script:
        - make test
    - name: "build docker images on arm64"
      arch: arm64
      script:
        - make cloudimage
        - make admissionimage
        - make edgeimage ARCH="arm64v8"
        - make edgesiteimage ARCH="arm64v8"
        - make bluetoothdevice_image
