language: go

sudo: required

dist: trusty

services:
  - docker

go:
  - 1.13

before_install:
  - |
      if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(\.md)|(\.png)|(\.pdf)|(\.html)|^(LICENSE)|^(docs)'
      then
        echo "Only doc files were updated, skip running the CI."
        travis_terminate 0
      fi

install: true

jobs:
  include:
    - stage: "Verify vendor, gofmt, golint, govet"
      name: "Verify vendor, gofmt, golint, govet"
      before_script:
        - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | BINARY=golangci-lint sh -s -- -d -b $(go env GOPATH)/bin v1.20.0
        - export GO111MODULE=on
      script:
        - make verify
        - make cloud_lint
        - make bluetoothdevice_lint
        - make keadm_lint
        - make edge_lint


    - stage: "Test on amd64"
      name: "build, smallbuild, crossbuild"
      arch: amd64
      before_script:
        - sudo apt-get install upx-ucl -y
        - sudo apt-get install gcc-arm-linux-gnueabi -y
        - export GOFLAGS=-mod=vendor
      script:
        - make
        - make bluetoothdevice
        - make edge_small_build
        - make edge_cross_build
        - make edge_cross_build_v7
        - make edgesite_cross_build
        - make edgesite_cross_build_v7
    - name: "unit test, integration test edge"
      arch: amd64
      before_script:
        - go get github.com/onsi/ginkgo/ginkgo
        - export GOFLAGS=-mod=vendor
      script:
        - make edge_test
        - make cloud_test
        - make edge_integration_test
    - name: "e2e test"
      arch: amd64
      before_script:
        - go get github.com/onsi/ginkgo/ginkgo
        - export GOFLAGS=-mod=vendor
      script:
        - make e2e_test
    - name: "build docker images on amd64"
      arch: amd64
      script:
        - make cloudimage
        - make admissionimage
        - make edgeimage ARCH="amd64"
        - make edgesiteimage ARCH="amd64"
        - make bluetoothdevice_image


    - stage: "Test on arm64"
      name: "build, smallbuild"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=vendor
        - sudo apt-get install upx-ucl -y
      script:
        - make
        - make bluetoothdevice
        - make edge_small_build
    - name: "unit test"
      arch: arm64
      before_script:
        - export GOFLAGS=-mod=vendor
      script:
        - make edge_test
        - make cloud_test
    - name: "build docker images on arm64"
      arch: arm64
      script:
        - make cloudimage
        - make admissionimage
        - make edgeimage ARCH="arm64v8"
        - make edgesiteimage ARCH="arm64v8"
        - make bluetoothdevice_image
