{{- if and .Values.admission.enable (not .Values.admission.certsSecretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kubeedge.admission.certsSecretName" . }}
  {{- with .Values.admission.labels }}
  labels: {{- toYaml . | nindent 4 }}
  {{- end }}
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": "before-hook-creation"
data:
{{ include "admission.gen-certs" . | indent 2 }}
{{- end }}
